<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(NUDGE_DISPLAY_NAME)</string>
	<key>CFBundleSpokenName</key>
	<string>Nudge</string>
	<key>ClerkPublishableKey</key>
	<string>$(CLERK_PUBLISHABLE_KEY)</string>
	<key>ClerkProxyURL</key>
	<string>$(CLERK_PROXY_URL)</string>
	<key>NudgeEnvironmentName</key>
	<string>$(NUDGE_ENVIRONMENT_NAME)</string>
	<key>NudgeEngineURL</key>
	<string>$(NUDGE_ENGINE_URL)</string>
	<key>NudgeConvexDeploymentURL</key>
	<string>$(NUDGE_CONVEX_DEPLOYMENT_URL)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SentryTracesSampleRate</key>
	<string>$(SENTRY_TRACES_SAMPLE_RATE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Nudge connects to your development Engine on this network.</string>
	<key>NSCameraUsageDescription</key>
	<string>Nudge can attach photos you take to your journal note.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nudge can attach voice recordings to your journal note.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nudge can attach selected photos from your library to your journal note.</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Nudge Notes</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>nudge notes</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Nudge Journal</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>nudge journal</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
